<section>
    <div class="container d-flex">
        <div class="contact-form">
            <h2 class="fs-2 fw-bolder">Contactez-nous ! </h2>
        <div class="d-flex">
            <div class="form-check d-flex flex-column align-items-center">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                <label class="form-check-label" for="exampleRadios1">
                    Poser une question
                </label>
            </div>
            <div class="form-check d-flex flex-column align-items-center">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                    Demander une démo
                </label>
            </div>
        </div>
        </div>
        <div class="contact-faq">
            <h2 class="fs-2 fw-bolder">Hop3team c'est...</h2>
            
        </div>
    </div>
</section>