<div class="navbar navbar-expand-lg navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://www.hop3team.com/wp-content/themes/hop3team-charte6/dist/images/logo.png"/>
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Fonctionnalité</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Tarifs</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="#">L'équipe</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="#">Nos formations</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="#">Médiathèque</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="#">Webinaire</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="#">TESTEZ</a>
          </li>
          <li class="nav-item dropdown">
            <%# <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="" /> %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Fonctionnalité</a>
              <a class="dropdown-item" href="#">Tarifs</a>
              <a class="dropdown-item" href="#">L'équipe</a>
              <a class="dropdown-item" href="#">Nos formations</a>
              <a class="dropdown-item" href="#">Médiathèque</a>
              <a class="dropdown-item" href="#">Blog</a>
              <a class="dropdown-item" href="#">Webinaire</a>
              <a class="dropdown-item" href="#">Contact</a>
              <a class="dropdown-item" href="#">TESTEZ</a>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>




