.form-check-input:checked {
  background-color: #e7b746;
  border-color: #e7b746;
}
.form-check-input[type="radio"] {
  border: 3px solid #e7b746;
  height: 1.5rem;
  width: 1.5rem;
}

.contact-form {
  min-width: 50%;
}

.btn {
  background-color: #e7b746;
  border: 2px solid #7b4e91;
  border-radius: 0;
  padding: 0.5rem 2rem;
  color: white;
  float: right;
}

.form-group > label {
  float: left;
}

.border-size {
  border: 2px solid #c1c1c1 !important;
}

.form-check-label a {
  color: #7b4e91;
  text-decoration: none !important;
}

.faq-link {
  color: #7b4e91;
  text-decoration: none !important;
}
.btn.btn-link {
  text-decoration: none !important;
  color: black;
  border: none !important;
}

.card {
  border-color: transparent !important;
  margin-bottom: 0.5rem;
}

.card-header {
  background-color: transparent !important;
  border-bottom: none !important;
  padding: 0;
}

.card-body {
  background-color: rgba(231, 183, 70, 0.4);
}
.fa-solid {
  position: absolute;
  top: 23px;
  left: 14px;
}

button.btn-link:hover {
  background-color: #e7b746 !important;
}
