.container-fluid {
  max-width: 1300px;
}
.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 15rem;
}

.navbar-toggler .collapsed {
  border-style: none;
}
