// .navbar-brand {
//   padding-left: 9rem;
//   img {
//     width: 15rem;
//   }
// }

// .container-fluid {
//   display: flex;
//   gap: 10rem;
//   justify-content: center;
// }
.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
