.container-fluid {
  max-width: 1300px;
}
.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
  z-index: 99999;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 15rem;
}

.navbar-toggler .collapsed {
  border-style: none;
}

.nav-item:hover {
  border-top: 4px solid #e7b746;
  transition: left 300ms ease, right 300ms ease;
  a {
    color: #e7b746;
  }
}

.header img {
  width: 100%;
}
